* {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1rem;
  font-family: "Press Start 2P", system-ui;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 43.75rem;
  background-color: #ffb749;
  color: #000;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  outline: none;
}

a {
  text-decoration: none;
  color: #9a2d2f;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  cursor: pointer;
  transition: 0.5s;
}

div {
  padding: 0;
  margin: 0;
}

strong {
  font-size: 1.2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.header-container {
  flex-direction: column;
  margin: 1rem auto;
}

.scoreboard {
  padding: 2rem;
  font-size: 2rem;
}

.table,
tr,
th,
td {
  border: #000 0.1rem solid;
  border-collapse: collapse;
}

th,
td {
  padding: 1rem;
}

th:first-child,
td:first-child {
  font-size: 1.3rem;
}

.settings {
  padding: 2rem;
  font-size: 2rem;
}

.rules {
  width: 43rem;
  margin: 0 auto;
  white-space: wrap;
  text-align: center;
  line-height: 2rem;
}

.footer-container {
  width: 43.75rem;
  margin: 1rem auto;
}

.canvas {
  margin: auto;
  border: #000 0.2rem solid;
  border-radius: 2rem;
}

.footer-rslogo,
.footer-git,
.footer-year {
  width: 3rem;
  height: 3rem;
}

.footer-img {
  fill: #000;
  border: #ffb749 0.1rem solid;
  border-radius: 50%;
  background-color: #ffb749;
  transition: box-shadow 0.3s linear;
}

button:hover .footer-img {
  box-shadow: 0 0 0.1rem 0.1rem #ffb749;
}

button:active .footer-img {
  box-shadow: 0 0 0.1rem 0.1rem #000;
}

.footer-year {
  border-radius: 50%;
  border: #ffb749 0.1rem solid;
  background-color: #000;
  color: #ffb749;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
}
